body {
  margin: 0;
}

.left-text-container p {
  font-size: calc(10px + 2vw)!important;
  font-weight: bold;
}

figcaption {
  font-size: calc(10px + 1vw);
}

.imgArray-box img {
  max-width: 100% !important;
}